<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NET60.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NET60.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NET60.Properties.Settings>
            <setting name="Setting1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NET60.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NET60.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>False</value>
            </setting>
        </NET60.Properties.Settings>
    </applicationSettings>
</configuration>